<h1>Editing Library</h1>

<%= render 'form', library: @library %>

<%= link_to 'Show', @library ,class:"btn btn-outline-secondary"%> |
<%= link_to 'Back', libraries_path,class:"btn btn-outline-secondary" %>
